<html lang="pt-br">

        <head>
            <meta charset="UTF-8">
            <title>Testando o node</title>
        </head>

        <body>
            <h1>Página principal 333</h1>
            <% var texto = "Trabalhando com EJS"; %>
            <p><%= texto %></p>
        </body>
    </html>